#!/bin/bash

NODE_ENV="{{ env }}" \
{{ node_bin }}/forever start -a --killSignal=SIGTERM \
    -c "node --max-old-space-size=8192" \
    -l {{ logs_dir }}/{{ name }}-{{ env }}.log \
    -o {{ logs_dir }}/{{ name }}-{{ env }}-out.log \
    -e {{ logs_dir }}/{{ name }}-{{ env }}-error.log \
    -p {{ logs_dir }}/ \
    --sourceDir {{ app_folder }}/server/ \
    --uid {{ name }} node_modules/nodemon/bin/nodemon.js --signal SIGKILL --exec babel-node app/server.js
